WindowsFormsTest/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateInterfaceRealtimeInfoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="interfaceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stateCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInterfaceRealtimeInfoServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateInterfaceRealtimeInfoWithExceptionService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="interfaceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stateCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="exceptionInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInterfaceRealtimeInfoWithExceptionServiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateInterfaceRealtimeInfoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInterfaceRealtimeInfoService" />
  </wsdl:message>
  <wsdl:message name="UpdateInterfaceRealtimeInfoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInterfaceRealtimeInfoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInterfaceRealtimeInfoWithExceptionServiceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInterfaceRealtimeInfoWithExceptionService" />
  </wsdl:message>
  <wsdl:message name="UpdateInterfaceRealtimeInfoWithExceptionServiceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInterfaceRealtimeInfoWithExceptionServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="UpdateInterfaceRealtimeInfoService">
      <wsdl:input message="tns:UpdateInterfaceRealtimeInfoServiceSoapIn" />
      <wsdl:output message="tns:UpdateInterfaceRealtimeInfoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInterfaceRealtimeInfoWithExceptionService">
      <wsdl:input message="tns:UpdateInterfaceRealtimeInfoWithExceptionServiceSoapIn" />
      <wsdl:output message="tns:UpdateInterfaceRealtimeInfoWithExceptionServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateInterfaceRealtimeInfoService">
      <soap:operation soapAction="http://tempuri.org/UpdateInterfaceRealtimeInfoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInterfaceRealtimeInfoWithExceptionService">
      <soap:operation soapAction="http://tempuri.org/UpdateInterfaceRealtimeInfoWithExceptionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateInterfaceRealtimeInfoService">
      <soap12:operation soapAction="http://tempuri.org/UpdateInterfaceRealtimeInfoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInterfaceRealtimeInfoWithExceptionService">
      <soap12:operation soapAction="http://tempuri.org/UpdateInterfaceRealtimeInfoWithExceptionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:8088/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:8088/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>